/.venv/
project_A/src/task2/PAD/dataset/
project_A/src/task2/PAD/distill/wandb/
project_B/report/ECE1512_Project_B_report-blx.bib
project_B/report/ECE1512_Project_B_report.aux
project_B/report/ECE1512_Project_B_report.bbl
project_B/report/ECE1512_Project_B_report.blg
project_B/report/ECE1512_Project_B_report.log
project_B/report/ECE1512_Project_B_report.out
project_B/report/ECE1512_Project_B_report.run.xml
project_B/report/ECE1512_Project_B_report.synctex.gz
project_B/mamba/data/cifar-100-python.tar.gz
project_B/mamba/data/finetune_vit.ipynb
project_B/mamba/data/cifar-100-python/file.txt~
project_B/mamba/data/cifar-100-python/meta
project_B/mamba/data/cifar-100-python/test
project_B/mamba/data/cifar-100-python/train
project_A/poster/ECE1512_Project_A_poster.aux
project_A/poster/ECE1512_Project_A_poster.bbl
project_A/poster/ECE1512_Project_A_poster.fdb_latexmk
project_A/poster/ECE1512_Project_A_poster.fls
project_A/poster/ECE1512_Project_A_poster.log
project_A/poster/ECE1512_Project_A_poster.nav
project_A/poster/ECE1512_Project_A_poster.out
project_A/poster/ECE1512_Project_A_poster.snm
project_A/poster/ECE1512_Project_A_poster.toc
