ECE1512_Project_A_report.aux
ECE1512_Project_A_report-blx.bib
ECE1512_Project_A_report.bbl
ECE1512_Project_A_report.blg
ECE1512_Project_A_report.log
ECE1512_Project_A_report.out
ECE1512_Project_A_report.run.xml
ECE1512_Project_A_report.synctex.gz
